DISCORD_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
CLIENT_ID=YOUR_BOT_APPLICATION_ID
GUILD_ID=YOUR_SERVER_ID

CURRENCY_NAME=Gems
CURRENCY_EMOJI=💎
INVITE_REWARD=125
DAILY_REWARD=250
WORK_MIN=50
WORK_MAX=150
LOG_CHANNEL_ID=
